*{box-sizing: border-box;}
body {
    padding: 0;
    margin: 0;
   
}
h2,p{margin: 0;}
#header {
    position: fixed;
    width: auto;
    max-width: auto;
    height: 50px;
    top: 0px;
    margin: 0 auto;
    left: 0;
    right: 0;
    background-color: #FAB919;
    color:#394CA6;
    z-index: 10;
}
#content {
    width: 100%;
    height: auto;
    background-color: #f8d3a2;
}


h2, p, h3, li{
margin-left: 20%;
margin-right: 20%;
}
#footer {
    height: 50px;
    max-width: auto;
    margin: 0 auto;
    padding: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #FAB919;
    color: white;
    text-align: center;
}
/* SIDE NAV */

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  text-align: left;
  outline: none;
  text-decoration: none;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  cursor: pointer;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

--------------
/* DROPDOWN */
body {
  font-family: "Lato", sans-serif;
}

/* Fixed sidenav, full height */


/* Style the sidenav links and the dropdown button */
.sidenav a, .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 20px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: center;
  cursor: pointer;
  outline: none;
}

/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
  color: #f1f1f1;
}

/* Main content */
.main {
  margin-left: 200px; /* Same as the width of the sidenav */
  font-size: 20px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

/* Add an active class to the active dropdown button */
.active {
  background-color: #BD372D;
  color: white;
}

/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
  display: none;
  background-color: #262626;
  padding-left: 8px;
}

/* Optional: Style the caret down icon */
.fa-caret-down {
  float: right;
  padding-right: 8px;
}

/* Some media queries for responsiveness */
@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}